.main-bg {
  background-color: #ffffff;
}

.Brand-logo {
  width: 144px;
  mix-blend-mode: multiply;
}

.Nav-logo {
  width: 150px;
  height: 70px;
  mix-blend-mode: multiply;
}

.custom-radius {
  border-radius: 50px;
}
